html { 
	background-color: #990000; 
}

body{
	font-family: georgia;
	font-size: 12pt;
	text-align: center;
	line-height: 1.8em;
	color: #2d2d2d;
	display: inline-block;
	margin: 40px;
	margin-right: 400px;
	margin-left: 400px;
	background-color: white; 
}


.container {
	padding-top: 6px;
	padding-right: 85px;
	padding-left: 85px;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
	max-width:40%;
}

a {
    color: #990000;
    text-decoration: none;
}